@inherits AppComponentBase

<div class="dropdown ms-1 topbar-head-dropdown header-item">
    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img id="header-lang-img" src="@SelectedLanguage.FlagUrl" alt="Header Language" height="20" class="rounded">
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        @foreach (var language in Languages)
        {
            <a class="dropdown-item notify-item language py-2" @onclick="@(() =>ChangeLanguage(language.Culture) )">
                <img src="@language.FlagUrl" alt="@language.Name" class="me-2 rounded" height="18">
                <span class="align-middle">@language.Name</span>
            </a>
        }
    </div>
</div>