@page "/"

@inject IDataService _dataService
@inherits AppComponentBase

<div style="height: 80vh">
    @Localizer[nameof(TelerikMessages.ColorPicker_Open)]

    <TelerikGrid Data="@GridData" Height="100%" @bind-PageSize="@PageSize" EditMode="@GridEditMode.Inline" FilterMode="@GridFilterMode.FilterRow"
                 @bind-Page="@CurrentPage" Pageable="true" Sortable="true" Resizable="true" Reorderable="true" SelectionMode="GridSelectionMode.Multiple"
                 OnUpdate="@UpdateItem" OnDelete="@DeleteItem" OnCreate="@CreateItem" OnEdit="@EditItem" Navigable="true" class="k-rtl">
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon="@FontIcon.Plus">Add Invoice</GridCommandButton>
            <GridCommandButton Command="ExcelExport" Icon="@FontIcon.FileExcel">Export to Excel</GridCommandButton>
            <label class="k-checkbox-label"><TelerikCheckBox @bind-Value="@ExportAllPages" />Export All Pages</label>
        </GridToolBarTemplate>

        <GridExport>
            <GridExcelExport FileName="telerik-grid-export" AllPages="@ExportAllPages" />
        </GridExport>

        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Buttons" PageSizes="@PageSizes" ButtonCount="5" />
        </GridSettings>

        <GridColumns>
            <GridCheckboxColumn ShowColumnMenu="true" Lockable="false" />
            <GridColumn Field="@nameof(Invoice.ProductTitle)" Title="Product">
                <EditorTemplate>
                    <TelerikComboBox Data="@Products"
                                      @bind-Value="(context as Invoice).ProductId"
                                     TextField="Name"
                                     ValueField="Id"
                                     OnChange="OnProductChanged" ClearButton="true" />
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(Invoice.UnitTitle)" Title="Unit">
                <EditorTemplate>
                    <TelerikComboBox Data="@FilteredUnits" @bind-Value="(context as Invoice).UnitId" TextField="Name" ValueField="Id" ClearButton="true" />
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(Invoice.Quantity)" Title="Quantity">
                <EditorTemplate>
                    <TelerikNumericTextBox @bind-Value="(context as Invoice).Quantity" />
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@nameof(Invoice.Date)" Title="Persian">

                <FilterCellTemplate>
                    <MudDatePicker @bind-Date="_filterDate" Culture="@GetPersianCulture()" TitleDateFormat="yyyy/MM/dd" Clearable="true" />
                </FilterCellTemplate>
                <EditorTemplate>
                    <MudDatePicker @bind-Date="_date"  Culture="@GetPersianCulture()" TitleDateFormat="yyyy/MM/dd" Clearable="true" />
                </EditorTemplate>
            </GridColumn>
           <GridColumn Field="@nameof(Invoice.Date)" Title="Arabic">
                    <FilterCellTemplate>
                        <MudDatePicker @bind-Date="_filterDate" Culture="@GetArabicCulture()" TitleDateFormat="dddd, dd MMMM" />
                    </FilterCellTemplate>
                <EditorTemplate>
                    <MudDatePicker @bind-Date="_date"  Culture="@GetArabicCulture()" TitleDateFormat="dddd, dd MMMM" />
                </EditorTemplate>
            </GridColumn>

            <GridColumn Field="@nameof(Invoice.Date)" Title="English">
                <EditorTemplate>
                    <MudDatePicker @bind-Date="_date" Culture="@CultureInfo.GetCultureInfo("en-US")" TitleDateFormat="dddd, dd MMMM" />
                </EditorTemplate>
                <FilterCellTemplate>
                    <MudDatePicker @bind-Date="_filterDate" Culture="@CultureInfo.GetCultureInfo("en-US")" TitleDateFormat="dddd, dd MMMM" />
                </FilterCellTemplate>
            </GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>
@code {
    private DateTime? _date = DateTime.Now;
    private DateTime? _filterDate = null;
    private string? _shamsidate = "";
}
